html{
    height: 100%;
    margin: 0;
}
body{
    background: linear-gradient(to left, gray, rgb(154, 154, 154), white);
    text-align: center;
}
.whats{
    width: 400px;
    height: 100px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}