html{
    height: 100%;
    margin: 0;
}
body{
    background: linear-gradient(to left, gray, rgb(154, 154, 154), white);
    text-align: center;
}
.whats{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 91%;
    border-color: rgb(255, 0, 0);
}

.logozap{
    width: 50px;
    height: 50px;
}   